.pr-modal-form{
    .ant-btn{
        margin-right: 10px;
        &.ant-btn-primary{
            min-width: 160px;
        }
    }

}

h1{
    margin: 0 !important;
    display: inline-block;
    vertical-align: middle;
}

// .logo{
//     display: inline-block;
//     img{
//         max-height: 57px;
//         padding-left: 15px;
//     }
// }

p{
    display: inline-block;
}

.error-message {
    display: none;
    background-color: rgba(237, 23, 31, 0.7);
    text-align: center;
    font-weight: normal;
    font-size: 16px;
    margin: 10px 0;
    color: #fff;
    padding: 10px;
    text-transform: capitalize;
    border-radius: 0;
    border: 0px;
}
.lg-form{
    padding: 43px 35px;
    
    .login-header{
        margin-bottom: 0px;
        font-size: 24px;
        padding: 22px;
        background: #333F48;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        h1{
            color: #ffffff;
            text-transform: none;
        }
    }

    .login-header-left{
        background-color: #00a2d5 !important;
        h1{
            font-size: 20px;
        }
    }

    .pr-login-box{
        padding: 18px 30px;
        background-color: #00a2d5 !important;
        border-radius: 5px;
        border: none !important;
    }
    .ant-col {
        // position: relative;
        margin-bottom: 0px;
    }
    .secure-brand-logo{
        text-align: center;
        margin-bottom: 20px;
        img {
            max-height: 54px;
            margin: 0 auto;
        }
    }
    .error-block{
        border: 1px solid #FF0000;
        background-color: rgba(255, 185, 185, 0.37);
        font-size: 14px;
        text-align: center;
        color: #CE2525;
        padding: 13px 60px;
        margin-bottom: 30px;
        border-radius: 0;
    }
    
    .form-field{
        margin-bottom: 15px;
        label{
            font-size: 14px;
        }
        .forgot-pwd{
            position: absolute;
            top: -2px;
            right: -15px;
            button{
                height: 0 !important;
            }
        }
    }
    .form-btn{
       
        margin-bottom: 20px;
    }
    .btn-login{
        width: 100%;
        background-color: #0488b8 !important;
        border: #0488b8 !important;
    }
    .footer-links{
        text-align: center !important;
        font-size: 14px;
        color: #afddf0 !important;
        margin-top: 20px;
        margin-bottom: 20px;
        /* display: inline-block; */
        cursor: pointer;
    }
   
}
