.pr-modal-form{
    .ant-btn{
        margin-right: 10px;
        &.ant-btn-primary{
        min-width: 160px;
        }
    }
}

h1{
    margin: 0 !important;
}

.forgot-pwd-form{
    padding: 43px 35px;
    .login-header{
        margin-bottom: 40px
    }
   
    .ant-col {
        // position: relative;
        margin-bottom: 0px;
    }
    .form-field{
        margin-bottom: 40px;
        label{
            font-size: 16px;
        }
        .forgot-pwd{
            position: absolute;
            top: -2px;
            right: -15px;
            button{
                height: 0 !important;
            }
        }
    }
    .form-btn{
        margin: 0 !important;
    }
    .btn-login{
        width: 100%;
    }
}

.pr-forms{
    .pr-login-box{
        border-top: none !important;
        border-top-left-radius: 5px !important;
        border-top-right-radius: 5px !important;
    }
    Form{
        label{
            color: #000000;
        }
    }
}